body {
    display: flex;
    justify-content: center;
}
.calcBody {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#screen {
    margin: 10px;
    margin-bottom: 0px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.row {
    flex-grow: 1;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.line {
    border: .25px solid gray;
    flex-grow: 1;
    text-align: right;
}

#clearDelete {
    display: flex;
    flex-direction: row;
}

#clear {
    flex-grow: 1;
    margin: 20px;
    border: .5px solid lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete {
    flex-grow: 1;
    margin: 20px;
    border: .5px solid lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    margin: 5px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid lightslategray;
}

.numbers {
    margin: 5px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid lightslategray;
}